*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(232, 232, 232);
    color: black;
    max-width: 500px;
    min-width: 200px;
    margin: 2rem auto;
    font-size: 2.16rem;
}

main{
    background: white;
    padding: 2rem;
    min-width: 300px;
    border-radius: 14px;
}